@use "src/styles/mixins";
@use "src/styles/atomic/text";

:host {
    @include mixins.rounded;
    @extend .text-base;
    font-weight: bold;
    box-sizing: border-box;
    background-color: var(--color-primary);
    padding: 0.66em 0.75em;
    border: none;
    cursor: pointer;

    &:disabled {
        @include mixins.disabled;
        cursor: inherit;
    }
}

:host-context(.outline) {
    border: 2px solid white;
}
