@use "src/styles/colors";
@use "src/styles/atomic/text";
@use "src/styles/mixins";

$sidebar-width: 240px;

:host {
    max-height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

.sidenav {
    width: $sidebar-width;
    height: 100vh;
    background-color: colors.$background-darker;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 1rem;

    &--mobile {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.logo {
    @extend .text-base;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1em;

    cursor: pointer;
    margin-bottom: 1rem;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

.nav-item {
    @include mixins.rounded(0.5);
    @extend .text-base;

    white-space: nowrap;
    font-size: 1.25rem;
    text-decoration: none;

    list-style-type: none;
    transition: 0.25s ease;
    cursor: pointer;
    padding: 0.666rem 0.5rem;

    color: colors.$text-disabled;

    &:hover {
        color: colors.$text;
    }

    &--active {
        background-color: colors.$primary;
        color: colors.$text;
    }
}
