:host {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    margin-bottom: 1rem;
}

.underline {
    margin-bottom: 1.25rem;
    height: 1px;
    background-color: darken(white, 42);
    width: 100%;
}
