<header class="header">
    <div>
        <app-icon
            (click)="sidenavService.toggle()"
            class="header__icon"
            hoverable
        >
            menu
        </app-icon>
    </div>

    <div>
        <ng-container *ngIf="authService.isLoggedIn$ | async else loggedOut">
            <app-header-user-info
                *ngIf="authService.user$ | async as user"
                [user]="user">
            </app-header-user-info>
        </ng-container>
        <ng-template #loggedOut>
            <app-icon
                [routerLink]="authRouting.SIGN_IN"
                class="header__icon"
                hoverable
            >
                account_circle
            </app-icon>
        </ng-template>
    </div>
</header>
