@use "sass:color";

@mixin rounded($roundness: 1) {
    border-radius: 4px * $roundness;
}

@mixin text($font-size: 1rem) {
    color: var(--color-text);
    margin: 0;
    font-size: $font-size;
    font-family: "Montserrat", sans-serif;
}

@mixin padding-x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-y($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin alternating-list{
    background-color: var(--color-background-darker);
    &:hover {
        background-color: var(--color-background-lighter);
    }
    &:nth-child(2n) {
        background-color: var(--color-background-alternate);

        &:hover {
            background-color: var(--color-background-lighter);
        }
    }
}

@mixin disabled() {
    color: var(--color-disabled);
    background-color: var(--color-disabled-background);
}
