@use "sass:map";
@use "~@angular/material" as mat;

$custom-typography: mat.define-typography-config(
    $font-family: '"Montserrat", sans-serif',
    $body-1: mat.define-typography-level(16px, 20px, 400),
);

$primary: mat.define-palette(mat.$pink-palette);
$accent:  mat.define-palette(mat.$blue-grey-palette);
$theme: mat.define-dark-theme($primary, $accent);

@include mat.all-component-themes($theme);
@include mat.core($custom-typography);
