@use "../../../../styles/breakpoints" as bp;

:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 2.5rem;
    align-items: center;

    max-width: bp.$sm;
    padding: 1rem;

    @include bp.sm {
        padding: 0;
        grid-template-columns: max-content 1fr;
    }
}
