@mixin __text() {
    color: var(--color-text);
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.text {
    @include __text;
    font-size: 1rem;
}

.text-sm {
    @include __text;
    font-size: 7/8rem;
}

.text-base {
    @include __text;
    font-size: 1rem;
}


.text-md {
    @include __text;
    font-size: 1.5rem;
}

.text-lg {
    @include __text;
    font-size: 2rem;
}

.text-link {
    &:hover {
        color: var(--color-primary);
    }

    text-decoration: none;
}
