@use "src/styles/mixins";
@use "src/styles/breakpoints" as bp;

.main-content {
    min-height: 100vh;
}

.sidenav {
    min-width: 275px;
}

.container-wrapper {
    max-width: bp.$md;
    margin: 0 auto;
    padding: 1.5rem;

    @include bp.sm {
        padding: 3rem;
    }

    @include bp.md {
        padding: 4rem;
    }
}
