@use "src/styles/mixins";
@use "src/styles/breakpoints" as bp;

:host {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
        "sidenav header"
        "sidenav container";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}

app-sidenav {
    grid-area: sidenav;
}

app-header {
    grid-area: header;
}

.container-wrapper {
    min-height: 100%;
    grid-area: container;
}
