@use "src/styles/colors";
@use "src/styles/breakpoints" as bp;

form {
    margin: 0 auto;
}

.submit-button {
    grid-column: 1/ -1;
    justify-self: center;
}

.register-hint {
    grid-column: 1/ -1;
    justify-self: center;

    & > :link, & > :visited {
        color: colors.$primary;
        text-decoration: none;
    }
}
