@use "sass:map";

@use "src/styles/theme";
@use "src/styles/forms";
@use "src/styles/breakpoints" as bp;

form {
    @include forms.vertical;
    max-width: bp.$sm;
    margin: 0 auto;
}

.hints {
    margin: 0 auto;

    & > a {
        color: map-get(theme.$primary, default-contrast);
        text-decoration: none;
    }

    & > a:hover {
        color: map-get(theme.$primary, default);
    }
}
