<app-recent-chapter-item
    [chapter]='{id: 0, title: "Extras", volume: 6, number: 46, numberExtra: 2, publishedAt: ""}'
    [manga]='{id: 0, title: "Made in Abyss"}'
    [translatorsGroup]='{title: "Translators"}'
    imageUrl="http://127.0.0.1:8000/static/manga-art/03131185-602c-4b64-a4bb-e308b1354bf6.png"
>
</app-recent-chapter-item>


<app-manga-item
    [manga]='{
        id: 0,
        title:"Spice and Wolf",
        type: "Manga",
        status: "Publishing",
        likesCount: 4242,
        isLikedByViewer: false
    }'
    coverUrl="http://127.0.0.1:8000/static/seeding/manga/spice-and-wolf.png"
>
    <p date>Published {{ "2021-11-18T21:29:29+0000" | timeAgo}}</p>
</app-manga-item>
<app-manga-item
    [manga]='{
        id: 0,
        title:"Spice and Wolf",
        type: "Manga",
        status: "Publishing",
        likesCount: 4242,
        isLikedByViewer: false
    }'
    coverUrl="http://127.0.0.1:8000/static/seeding/manga/spice-and-wolf.png"
>
    <p date>Updated {{ "2021-11-20T21:29:29+0000" | timeAgo}}</p>
</app-manga-item>
