@use "src/styles/mixins";

:host {
    display: flex;
    flex-flow: column nowrap;
}


.header {
    background-color: var(--color-primary);
    padding: 1rem 1.25rem;
    border-radius: 4px 4px 0 0;
}

.chapter {
    @include mixins.alternating-list;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 1.25rem;
}
