@use "../../../../../styles/mixins";
@use "../../../../../styles/atomic/text";
@use "../../../../../styles/breakpoints" as bp;

:host {
    display: grid;
    grid-template: "recent-manga";
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @include bp.sm {
        grid-template-columns: 1fr max-content;
    }
}

.block-title {
    @extend .text-lg;
    font-weight: 600;
    cursor: pointer;
}

.recent-chapters {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 1.5rem;
}

.most-liked-manga {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 2rem;

    @include bp.sm {
        grid-template-columns: repeat(1, 125px);
    }
    @include bp.md {
        grid-template-columns: repeat(2, 125px);
    }
}
