<form (ngSubmit)="submit()" [formGroup]="form" app-base-auth-form>
    <p class="text-base">Username:</p>
    <app-input-wrapper>
        <input app-input formControlName="username" type="text"/>
    </app-input-wrapper>

    <p class="text-base">Email:</p>
    <app-input-wrapper>
        <input app-input formControlName="email" type="email"/>
    </app-input-wrapper>

    <p class="text-base">Password:</p>
    <app-input-wrapper>
        <input app-input formControlName="password" type="password">
    </app-input-wrapper>

    <p class="text-base">Confirm Password:</p>
    <app-input-wrapper>
        <input app-input formControlName="passwordConfirm" type="password">
    </app-input-wrapper>

    <button app-button>REGISTER</button>
</form>
