:host {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    @extend .fit-height;
}

.fit-both {
    @extend .fit-width, .fit-height;
}

.fit-height {
    height: 100vh;
}

.fit-width {
    max-width: 100%;
}
