@use "~@angular/material" as mat;

@use "styles/theme";
@use "styles/atomic";

html, body { height: 100%; }

html {
    font-size: 14px;
}

body {
    margin: 0;
}

$custom-typography: mat.define-typography-config(
    $font-family: '"Montserrat", sans-serif',
);

@include mat.core($custom-typography);
