@import "styles/theme";
@import "styles/atomic/__init__";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
}
