@use "src/styles/mixins";

:host {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    & > *:not(:last-child) {
        margin-right: 0.75rem;
    }
}


.pagination-item {
    @include mixins.rounded();
    @include mixins.text(1.25rem);
    @include mixins.padding-x(1rem);

    user-select: none;
    background-color: var(--color-background-lighter);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

    height: 32px;

    &--page {
        padding: 0;
        width: 32px;
    }

    &--active {
        background-color: var(--active-item-background-color, var(--color-primary));
        color: var(--active-item-color, var(--color-text));
        border: none;
    }

    &:disabled {
        @include mixins.disabled;
        cursor: default;
    }

    &:not(&:disabled) {
        @media (hover: hover) {
            &:hover {
                background-color: var(--active-item-background-color, var(--color-primary));
                color: var(--active-item-color, var(--color-text));
                border: none;
            }
        }

        //&:active {
        //    background-color: white;
        //    color: black;
        //}
    }
}
